/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #355070
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Color palette
black - 000000
white - FFFFFF
silver - C2C2C2
black coral -5E6472
cadet - 546A76
*/

body{
    background-color: black;
}

h1, h2, h3, a, p{
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
}

a, #welcomediv p{
    background: linear-gradient(to left, black 50%, white 50%) right;
    background-size: 300%;
    transition: 0.5s ease-out;
}

a:hover{
    background-position: left;
    color: black;
}

h1{
    font-size: 2rem;
    margin: 0.5rem 0 0 4rem;
    padding: 0.5rem 0;
    color: white;
    border-bottom: 2px solid #C2C2C2;
    max-width: 4em;
}

nav{
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    font-size: 1.5em;
    margin: 1em 1.5em 0 0;
    padding: 0.5em 0.5em;
}

section{
    margin: 1em;
    padding: 5em;
}

footer{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

footer div{
    flex-flow: column;
    margin: 2em 5em;
}

footer div p{
    margin: 0.5em 0;
}

div{
    display: flex;
    justify-content: center;
}

#profilesec{
    display:flex;
    justify-content: center;
}

#profilediv{
    display: flex;
    height: 200px;
    flex-basis: 200px;
    overflow: hidden;
    border: 5px solid #505663;
    border-radius: 50%;
    transition: 0.5s;
}

#profilediv img{
    justify-content: center;
    width: 600px;
    height: 900px;
    margin: -50px 0 0 0;
}

#profilediv:hover{
    transform: scale(1.1);
}

#welcomesec{
    padding: 0em;
}

#welcomediv p{
    color: white;
    font-size: 2em;
}

#welcomediv:hover p{
    background-position: left;
    color: black;
}

#linkdiv{
    display: flex;
    justify-content: space-evenly;
}

#linkdiv span{
    background-color: none;
    transition: 0.5s;
}

#linkdiv span a{
    text-decoration: none;
    display: flex;
    flex-basis: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: 0.5;
}

.headsection{
    margin: 0;
    padding: 5rem 5rem;
    font-size: 2em;
}

.infosection{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 10rem 5rem;
}

.infosection h2{
    font-size: 2rem;
}

.infosection h3{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.infosection p{
    margin-top: 0.5rem;
}


.infosection div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.infosection .backfilter{
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}  

.infosection #seeprojects{
    margin-top: 2rem;
    width: fit-content
}

.subheading{
    margin-bottom: 1rem;
}

.infosection:nth-of-type(2){
    background-image: url('pictures/photo-1532708653462-5cb23a5f9f2f.jpeg');
    background-size: cover;
    background-position: left;
}
.infosection:nth-of-type(3){
    background-image: url('pictures/photo-1519482573985-d3b53a41d313.jpeg');
    background-size: cover;
}
.infosection:nth-of-type(4){
    background-image: url('pictures/photo-1607743386760-88ac62b89b8a.jpeg');
    background-size: cover;
}
.infosection:nth-of-type(5){
    background-image: url('pictures/photo-1504966981333-1ac8809be1ca.jpeg');
    background-size: cover;
}

@media (max-width: 425px){
    nav ul{
        flex-direction: column;
    }
    #linkdiv{
        flex-direction: column;
    }
    #linkdiv span a{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 5px 0;
    }
}